<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<h1>Let's Play</h1>

<form action="/madlib">
  Enter your favorite person: 
  <input type="text" input="person" name="person" placeholder="a person">
  <br>
  What is your least favorite color?
  <input type="text" input="color" name="color" placeholder="a color">
  <br>
  Enter a noun:
  <input type="text" input="noun" name="noun" placeholder="a noun">
  <br>

  Pick an adjective:
  <input type="radio" name="adjective" value="quick">
  <label>quick</label>

  <input type="radio" name="adjective" value="quirky">
  <label>quirky</label>

  <input type="radio" name="adjective" value="funky">
  <label>funky</label>

  <input type="radio" name="adjective" value="great">
  <label>great</label>
  <br>

  <input type="submit">
</form>

</body>
</html>
